body {
    font-family: Arial, sans-serif;
    color: #333;
}

h2 {
    color: #010101; /* Red color */
}

.navbar {
    background-color: #ff7f00; /* Orange color */
}

.navbar-brand {
    color: #ffffff !important; /* White color for brand */
}

.nav-link {
    color: #ffffff !important; /* White color for nav links */
}

.home-section {
    background: url('img/studiowallpaper.jpeg') no-repeat center center/cover;
    color: white;
    padding: 100px 0;
}
.service-section{
    background-color: #070905;
}
.aboutus-section{
    background-color: rgb(255, 252, 246);
}
.aboutus-section h1{
    text-align: center;
}
.btn-primary {
    background-color: #ffc107;
    border-color: #ffc107; /* Yellow color */
}

footer h5 {
    color: #ffc107; /* Yellow color */
}

footer a {
    color: #ffc107 !important; /* Yellow color */
}

footer p {
    color: #ffffff; /* White color for text */
}
